<section class="blurb">
  <h2>About</h2>
	<p>{{ site.description }}</p>
	<ul class="actions">
	  <li><a href="/about" class="button">Learn More</a></li>
	</ul>
</section>
</images/bud.jpg>
What is Willow and Panya Botanicals?

We are an independant small business dedicated to deveoping products that are good for the body, mind, soul and planet. We believe in taking a natural holistic approach to personal care and offer a viariety of  products created using all natural oils, butters and waxes. Our approach to skin care is based on the belief that our bodies and Mother Earth are infinetly wise and we create products that work with the skin's natural phisiology with the added benefits of plant magic.
You will never see any paraffins, parabens, preservatives or hormone disruptive parfumes or synthetic fragrances, just 100% essential oil products that are always made to order and are best used fresh. Many of the herbs used in our products are grown right here, and the rest are locally sourced.

Who Are Willow and Panya?

They are two of the most organic and natural beings around. They are masters of zen and have a lot to teach about living life in the present moment. They are also cats. My cats, who provide so much love, humor and inspiration to my life, naming this business after them seemed like the only feasable course of action.

Who is Samantha Furer?

Well, me. I am the sole proprieter of Willow and Panya Botanicals, with the help of my husband and parter, Masen. I'm passionate about living life as holistically as possible and leaving the smallest footprint on the planet as I can. I practice tredding lightly, I stumble, I learn and I grow. Most of my inspiration comes from the natural world, because how beautiful and perfect is it all just the way it is?
