<section id="footer">
  <ul class="icons">
  	<li><a href="https://www.instagram.com/willowandpanyabotanicals/" class="fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="https://www.facebook.com/Willow-and-Panya-Botanicals-264862057196363" class="fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="/feed.xml" class="fa-rss"><span class="label">RSS</span></a></li>
		<li><a href="mailto:{{ site.email }}" class="fa-envelope"><span class="label">Email</span></a></li>
	</ul>
  <p class="copyright">Copyright &copy; 2016 {{ site.author }}</p>
</section>
