<!-- Header -->
<header id="header">
  <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
    <nav class="links">
      <ul>
      <li><a href="https://www.etsy.com/shop/WillowAndPanya">Shop</a></li>
      </ul>
    </nav>
    <nav class="main">
    <ul>
      <li class="menu">
          <a class="fa-bars" href="#menu">Menu</a>
      </li>
    </ul>
    </nav>
</header>

<!-- Menu -->
<section id="menu">
	<!-- Links -->
	<section>
	  <ul class="links">
      <li>
        <a href="https://www.etsy.com/shop/WillowAndPanya">
          <h3>Shop</h3>
          <p>on Etsy</p>
        </a>
      </li>
	    <li>
		    <a href="/inspiration">
				  <h3>Inspiration</h3>
				  <p>why go natural?</p>
				</a>
			</li>
    </ul>
	</section>
</section>
